.App {
  text-align: center;
}

.title {
  background-image: url("../src/images/mountains.jpg");
  width: 100%;
  height: 422px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titleHeader {
  margin: auto;
  margin-bottom: 0%;
  color: white;
}

.titleSubheader {
  margin: auto;
  margin-top: 0%;
  color: white;
 }

 .description {
   height: 300px;
   width: 100%;
   background-color: black;
   text-align: center;
 }

 .descriptionHeader{
  color: white;
  width: 100%;
 }

 .descriptionContent {
  display: flex;
  flex-direction: row;
  margin:auto;
 }

 .descriptionParagraph {
  color: white;
  font-size: .5em;
  text-align: left;
  vertical-align: middle;
 }

 .descriptionImage {
   width: 20%;
   margin-right: 5%;
   margin-left: 5%;
   border-radius: 50%;
 }

 .descriptionText {
   flex-direction: column;
 }

 .pricing {
   background-color: navy;
   text-align: center;
   height: 500px;
 }

 .pricingHeader {
   color: white;
 }

 .pricingSubheader {
   color: white;
 }

 .autoCardList {
   display: flex;
   flex-direction: row;
 }
 .card {
   background: whitesmoke;
   border-radius: 15px;
   padding: 3px;
   width: 20%;
   box-shadow:rgba(64, 120, 153, .3) 5px 10px;
   margin: auto;
   display: flex;
   flex-direction: column;
 }

 .about {
   margin: auto;
   height: 400px;
   background-color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
 }
 .chris {
   display:flex;
   flex-direction: row;
   font-size: .5em;
 }
 .chrisPic {
  height: 150px;
  border-radius: 50%;
  margin: auto;
 }
 .chrisText {
   text-align: left;
   width: 40%;
 }
 .joe {
  display:flex;
  flex-direction: row;
  font-size: .5em;
}
.joeText {
  flex-direction: row;
  width: 40%;
  text-align: right;
}
 .joePic {
  height: 150px;
  border-radius: 50%;
  margin: auto;
 }